* {
    box-sizing: border-box;
}

header {
    text-align: center;
    
    padding: 10px;
}

.ul.topnav {
    padding: 15px;
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    background-color: #ffffff;
    
}

.ul.topnav li a{
    display: flex;
    
    padding: 10px 16px;
    text-decoration: none;
    font:funnel sans;
}

div.side-nav-bar {
    position: relative;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 20%;
}



#column {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
}

.bg-image {
    position: fixed;
    background-image: url( '../assets/bgi/2025-12-16_18.41.16.png' );
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;
    top: -1em;
    left: -1em;
    width: 105%;
    height: 105%;
}

body {
    font-family: "Funnel Sans", sans-serif;

    background-color: gray;
    width: 95%;
    margin: auto;
}

div.center-page {

    margin-left: 1rem;
    margin-right: -1rem;
    padding: 1rem;
    display:flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 5px;
    min-height:500px
}


h4 {
    text-align: center;
}




div.gallery {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

div.gallery-item {
    border: #000000 solid 5px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    
}

div.gallery-item img{
    
    width: 100%;
    height: auto;
    padding: 0;
}

div.gallery-item div.item-desc{
    
    padding: 5px;
    text-align: center;
}

#g-img {
    margin: auto;
    width: 250px;;
    height: 250px;
}

@media (max-width:800px) {

}

table.fileTable {
    border-radius: 5px;
    margin-top: 2%;
    margin: 0;
    width: 50%;
    height: 20px;
}

table.fileTable.entry tr, th {
    border: 3px rgb(235, 234, 234) solid;
    background-color: rgb(235, 234, 234);
    border-collapse: collapse;
    border-radius: 5px;
    padding: 15px;
}



font.funnel-sans- fs {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
