* {
    box-sizing: border-box;
}



.flex-body-c {
    display: flex;
    flex-direction: column;
    
}

header {
    text-align: center;
    
    padding: 10px;
}

.ul.topnav {
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #cdcdcd;
    
}

.ul.topnav li a{
    display: block;
    
    padding: 10px 16px;
    text-decoration: none;
}



body {
    background-image: url( '../assets/bgi/2022-03-06_19.45.21.png' );
    background-repeat: no-repeat;
    background-size:cover;
}

div.center-page {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
    background-color: white;
    width: 50%;
    border-radius: 5px;
}



div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

div.gallery-item {
    margin: 15px;
    border: gray solid 2px;
    width: 180px;
}

div.gallery-item:hover{
    border: black solid 2px;
}

div.gallery-item img{
    width: 100%;
    height: auto;
}

div.gallery-item div.item-desc{
    padding: 5px;
    text-align: center;
}

@media (max-width:800px) {

}

table.fileTable {
    margin-top: 2%;
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}

table.fileTable.entry tr, th {
    border: black solid 1px;
    padding: 15px;
}


