
.flex-body-c {
    display: flex;
    flex-direction: column;
    
}

header {
    text-align: center;
    background-color: #568677;
    padding: 10px;
}

.ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #81a5b8;
}

.ul.topnav li a{
    display: block;
    color: beige;
    padding: 10px;
    text-decoration: none;
}

.flex-body-gallrey {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;
    
}


body {
    background-color: #ffffff;
}

.item {
    
    height:15%;
    width: 15%;
    margin: 2px;
    background-color: aqua;
    border-style: solid;
}

.item img{
    height: 240;
    width: 240px;
    object-fit: fill;
}

@media (max-width:800px) {
    .flex-body-gallrey{
        flex-direction: column;
    }
    .item {
        height:80%;
        width: 80%;
        margin: 2px;
    }
}