* {
    box-sizing: border-box;
}



.flex-body-c {
    display: flex;
    flex-direction: column;
    
}

header {
    text-align: center;
    background-color: #568677;
    padding: 10px;
}

.ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #81a5b8;
}

.ul.topnav li a{
    display: block;
    color: beige;
    padding: 10px;
    text-decoration: none;
}



body {
    background-image: url( '../assets/bgi/2022-03-06_19.45.21.png' );
    background-repeat: no-repeat;
    background-size: cover;
}

div.center-page {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 50%;
    min-height: 25%;
}



div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

div.gallery-item {
    margin: 15px;
    border: gray solid 2px;
    width: 180px;
}

div.gallery-item:hover{
    border: black solid 2px;
}

div.gallery-item img{
    width: 100%;
    height: auto;
}

div.gallery-item div.item-desc{
    padding: 5px;
    text-align: center;
}

@media (max-width:800px) {

}

table.fileTable {
    margin-top: 2%;
    border-collapse: collapse;
    width: 50%;
}

table.fileTable.entry tr, th {
    border: black solid 1px;
    padding: 15px;
}


